.controls {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;

  letter-spacing: -0.5px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 0.5rem;
  gap: 10px;
  padding: 13px 15px;
  position: absolute;
  /* width: 153px;
  height: 47px;
  left: 45px;
  top: 535px; */

  background: url('https://s3-alpha-sig.figma.com/img/4272/878e/6961412f647905b45aa476e2c102c090?Expires=1681689600&Signature=FNE5Lu3N0rcIv5Inz15EX~BswEOMhM32SjHEAKIiRf2haMNX9YNkCPtJPueknadx5lmhCmvY-F35yvVUTMtUIOK4qxuRlbjtYGJRqmrg4GI3tcHzSVIiT-7Zjnp~6BGohLyviwziOfezIsI6~utF6HPTVkpFv6BfUzTChAJSky2FN~79sAI9YrXDnUc804IkuGyQlugw6J7HfLQ6pZ4tan3YoQvsij5m3QhT2nZ9Qtmr8Qqz1wDODBOROz-dMCdPfgUOFfXMR~VRPC1R8qYp2zyyqpG50X~Gi0281wM4dY5MlL479QDW-oztcYlNqM5xUaLO4m6fKJ3wSU757CUEAw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'),
    rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09),
    0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 26px;
  z-index: 4;
}

.button {
  font-size: small;
  line-height: 1rem;
  letter-spacing: -0.5px;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.button:active {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}
