:root {
  --bg-primary: #b9e2fc;
  --bg-secondary: #e9f2e3;
  --bg-tertiary: rgb(166, 197, 251, 0.2);
  --bg: white;
  --glass-30: rgb(255 255 255 / 31%);
  --glass-50: rgb(255 255 255 / 50%);
  --glass-70: rgb(255 255 255 / 70%);
  --glass-90: rgb(255 255 255 / 90%);
  --inverted-glass-70: rgb(46, 51, 59, 70%);
  --inverted-glass-90: rgb(46, 51, 59, 90%);
  --map-granular-opacity: 0.75;
  --primary-color: #6fa0fa;
  --text: #2d333b;

  --z-index-notifications: 999999;

  --noise-background: url('/assets/images/noise.webp');
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #2d333b;
    --text: rgb(255, 255, 255, 0.9);

    --glass-30: rgb(46, 51, 59, 30%);
    --glass-50: rgb(46, 51, 59, 50%);
    --glass-70: rgb(46, 51, 59, 70%);
    --glass-90: rgb(46, 51, 59, 90%);
    --inverted-glass-70: rgb(255 255 255 / 70%);
    --inverted-glass-90: rgb(255 255 255 / 90%);

    --map-granular-opacity: 0.125;
  }
} */
