.svg {
  filter: hue-rotate(0deg);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  transition: filter 0.2s ease-in-out;
  width: 100%;
  z-index: var(--z-index-underneath);
}
