.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.section {
  background: #f8f3ed;
  border-radius: 7.5vh;
  box-shadow: var(--box-shadow-large);
  height: 60vh;
  max-height: 620px;
  max-width: 620px;
  overflow: hidden;
  position: relative;
  width: 60vh;
  z-index: var(--z-index-overlay);
}
.section::before {
  background-image: linear-gradient(to right, #f8f3ed, transparent 20%), linear-gradient(to left, #f8f3ed, transparent 20%);
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.section::after {
  background-image: linear-gradient(to right, #bcbab3 1px, #0000 1px), linear-gradient(to bottom, #bcbab3 1px, #0000 1px);
  background-origin: border-box;
  background-position: 0 0;
  background-size: 1rem 1rem;
  content: '';
  height: 100%;
  left: 0;
  mask-image: linear-gradient(transparent, black 50%, black 50%, transparent);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--z-index-underneath);
  -webkit-mask-image: linear-gradient(transparent, black 50%, black 50%, transparent);
}

.granular {
  background: var(--noise-background);
  height: 100%;
  left: 0;
  mix-blend-mode: soft-light;
  opacity: var(--map-granular-opacity);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--z-index-overlay);
}

@media screen and (max-width: 768px) {
  .main {
    height: 100vh;
    width: 100vw;
  }

  .section {
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
  }
}

@media screen and (min-height: 1000px) {
  .main {
    margin-top: 5vh;
  }
}
