.toast {
  align-items: center;
  animation: appear 0.3s ease-in-out;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--glass-70);
  border-radius: 8px;
  box-shadow: 0px 1px 35px 1px rgb(0, 0, 0, 20%);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 450px;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 2rem;
  user-select: none;
  width: calc(100% - 2rem);
  z-index: var(--z-index-notifications);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}
.toast:hover .closeButton {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.toast.hidden {
  animation: disappear 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.content {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  margin: 0;
}

.description {
  font-size: clamp(0.75rem, 0.8vw, 0.8rem);
  margin: 0;
}

.closeButton {
  align-items: center;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--glass-90);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 1px 1px 1px rgb(0, 0, 0, 20%);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  left: -0.5rem;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  transition: opacity 0.2s ease-in-out;
  width: 1.5rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.icon {
  animation: circleAnimation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 100ms;
  opacity: 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .toast {
    top: 1rem;
  }

  .closeButton {
    color: var(--text);
    font-size: 1rem;
    height: 2rem;
    left: unset;
    opacity: 1;
    right: -0.5rem;
    top: -1rem;
    width: 1rem;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(5rem);
  }
}

@keyframes circleAnimation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
