.location {
  align-items: flex-start;
  backdrop-filter: blur(3px);
  background: var(--noise-background), rgba(255, 255, 255, 0.5);
  border-radius: 26px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 2rem;
  box-shadow: var(--box-shadow-small);
  display: flex;
  flex-direction: row;
  font-size: 17px;
  gap: 10px;
  justify-content: space-between;

  letter-spacing: -0.5px;
  line-height: 21px;
  padding: 13px 15px;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  width: fit-content;
  z-index: var(--z-index-foreground);
}
.location:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .location {
    bottom: 2rem;
    justify-content: center;
    left: 2rem;
    position: fixed;
    width: calc(100% - 4rem);
  }
}

.current {
  left: 2rem;
}
.last {
  right: 2rem;
}

.controls {
  align-items: flex-start;
  backdrop-filter: blur(3px);
  background: var(--noise-background), rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: var(--box-shadow-small);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.75rem;
  position: absolute;
  right: 2rem;
  top: 4rem;
  z-index: var(--z-index-foreground);
}

.divider {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: calc(50% - 0.5rem);
  width: 100%;
}

.icon {
  transition: transform 200ms ease-in-out;
  user-select: none;
}
.icon:hover {
  transform: scale(1.05);
}
.icon:active {
  transform: scale(0.95);
}

.text {
  animation: fade-in 5s;
  filter: blur(10px);
  opacity: 0;
}

@keyframes fade-in {
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
