.location {
  background: url('https://s3-alpha-sig.figma.com/img/4272/878e/6961412f647905b45aa476e2c102c090?Expires=1681689600&Signature=FNE5Lu3N0rcIv5Inz15EX~BswEOMhM32SjHEAKIiRf2haMNX9YNkCPtJPueknadx5lmhCmvY-F35yvVUTMtUIOK4qxuRlbjtYGJRqmrg4GI3tcHzSVIiT-7Zjnp~6BGohLyviwziOfezIsI6~utF6HPTVkpFv6BfUzTChAJSky2FN~79sAI9YrXDnUc804IkuGyQlugw6J7HfLQ6pZ4tan3YoQvsij5m3QhT2nZ9Qtmr8Qqz1wDODBOROz-dMCdPfgUOFfXMR~VRPC1R8qYp2zyyqpG50X~Gi0281wM4dY5MlL479QDW-oztcYlNqM5xUaLO4m6fKJ3wSU757CUEAw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'),
    rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  box-shadow: 0px 65px 26px rgba(62, 48, 27, 0.01), 0px 36px 22px rgba(62, 48, 27, 0.05), 0px 16px 16px rgba(62, 48, 27, 0.09),
    0px 4px 9px rgba(62, 48, 27, 0.1), 0px 0px 0px rgba(62, 48, 27, 0.05);
  color: #000000;
  flex: none;
  flex-grow: 0;
  font-family: 'Helvetica Neue';
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  left: 2rem;
  letter-spacing: -0.5px;
  line-height: 21px;
  position: absolute;
  order: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 15px;
  justify-content: space-between;
  /* width: calc(100% - 4rem); */
  width: fit-content;
  z-index: 5;
  transition: transform 0.2s ease-in-out;
}
.location:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

.button {
  z-index: 5;
}

.group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  z-index: 5;
}

@media not all and (mix-blend-mode: screen) {
  .granular {
    background-color: #f7f7f7; /* Fallback background color */
    opacity: 1; /* Fallback opacity value */
  }
}

@media screen and (max-width: 768px) {
  .location {
    bottom: 2rem;
    left: 2rem;
    position: fixed;
    width: calc(100% - 4rem);
    justify-content: center;
  }
}
