.mask {
  height: 100%;
  mask-image: linear-gradient(var(--direction), var(--mask-visible) 25%, var(--mask-hidden));
  opacity: 0.95;
  pointer-events: none;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  -moz-user-select: none;
  -webkit-mask-image: linear-gradient(var(--direction), var(--mask-visible) 25%, var(--mask-hidden));
  -webkit-user-select: none;
}
.mask::before {
  background: linear-gradient(var(--direction), var(--bg), transparent);
  content: '';
  height: var(--height);
  position: absolute;
  width: var(--width);
}
.mask::after {
  background: linear-gradient(var(--direction), var(--bg), transparent);
  content: '';
  height: var(--height);
  position: absolute;
  width: var(--width);
}

.mask.horizontal::before {
  --direction: to right;
  --height: 100%;
  --width: 12%;

  left: 0;
}
.mask.horizontal::after {
  --direction: to left;
  --height: 100%;
  --width: 12%;

  right: 0;
}

.mask.vertical::before {
  --direction: to top;
  --height: 12%;
  --width: 100%;

  bottom: 0;
}
.mask.vertical::after {
  --direction: to bottom;
  --height: 12%;
  --width: 100%;

  top: 0;
}

@media screen and (max-width: 768px) {
  .mask {
    width: 0%;
  }
}
